body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    margin-top: 20px;
}

.column {
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

textarea {
    resize: none;
    height: 200px;
}

button {
    margin-top: 10px;
}

.ui.container {
    margin-top: 30px;
    margin-bottom: 30px;
}
